@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    
}

body{
    background-color: rgb(240, 238, 238);
}

section#carro0{
    background-image: url(../imagens/f90-header-6.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

   

}

menu#itens{
    display: flex;
    justify-content: space-between;
}

section#carro0 > menu#itens > a#um{
    text-decoration: none;
    text-align: center;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    height: 40px;
    
    background-color: rgba(0, 0, 0, 0.363);
    color: rgb(255, 255, 255);
}

section#carro0 > #itens > a#um:hover{
    background-color: white;
    color: black;
    
}

a> img{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    margin: 7px;
}
a{
   background-color: rgba(255, 255, 255, 0); 
}

a#volta{
    margin-top: 20px;
    color: white;
}

a#volta:hover{
    color: rgb(107, 107, 107);
}




section#carro0 > h1{
    font-size:4em;
    color: rgb(255, 255, 255);
    text-align: center;
    transform: translate(0, 61vh);
    font-weight: 600;
    font-family: "DM Serif Text", serif;

}


main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}


section.img > div#img1{
    background-image: url(../imagens/f90-520i-3-removebg-preview.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}


section.img > div#img2{
    background-image: url(../imagens/f90-530i-1-removebg-preview.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

section.img > div#img3{
    background-image: url(../imagens/f90-540i-4-removebg-preview.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

section.img > div#img4{
    background-image: url(../imagens/m5-f90-1-removebg-preview.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

section.img > div#img5{
    background-image: url(../imagens/m5-f90-comp-removebg-preview.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

section.img{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    margin-top: 10px;
    height: 550px;
    width: 80vw;
    background-color: white;

    border-radius: 10px;
    margin: 20px;


}

section.img:hover{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.137);
    transition: 1s;


}

section#e4{

    height: 600px;
    width: 80vw;
}




section.img > h2{
    margin-left: 5px;
    font-size: 1.8em;
    font-weight: 500;
}

section.img > h3{
    margin-left: 5px;
    font-size: 1.3em;
    font-weight: 500;

}

section.img > p{
    margin-left: 5px;
    font-size: 1em;
    margin-bottom: 8px;
    color: rgb(48, 47, 47);
}