@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Baskervville", serif;
    
}

main{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

section#carro0{
    background-image: url(../imagens/bmwhead11.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

   

}

menu#itens{
    display: flex;
    justify-content: space-between;
}

section#carro0 > menu#itens > a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    height: 40px;
    
    background-color: rgba(0, 0, 0, 0.363);
    color: rgb(255, 255, 255);
}

section#carro0 > #itens > a:hover{
    background-color: white;
    color: black;
    
}

menu#itens > img{
    width: 50px;
    height: 50px;
    margin-top: 7px;
}




section#carro0 > h1{
    font-size: 3.5em;
    color: rgb(255, 255, 255);
    text-align: center;
    transform: translate(0, 50vh);
    font-weight: 600;

}

section#carro0 > img{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    transform: translate(0, 47vh);

}


section.img > h2{
    display: block;
    font-size: 2em;
    text-align: left;
    margin: 5px;
}

section.img > a{
    display: block;
    margin: auto;
    width: 80%;
    padding: 0.4em ;
    text-align: center;

    font-family: "Baskervville", serif;
    font-size: 1.5em;
    font-weight: 100;
    color: rgb(0, 0, 0);
    

    
    
    
    background-color: rgb(255, 255, 255);
    border-radius: 5px;

   
    text-decoration: none;
    transform: translate(0, 40vh);

}

section.img > h2{
    font-family: "Yellowtail", serif;
    font-size: 3em;
    font-weight: 500;
    font-style: italic;
}

section.img > a:hover{
    background-color: rgb(158, 158, 158);
}

section.img{
    margin-top: 10px;
    height: 60vh;
    width: 80vw;

    border-radius: 20px;

}

section#carro1{
    background-image: url(../imagens/e28-10.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;


}

section#carro2{
    background-image: url(../imagens/e34-4.jpg);
    background-repeat: no-repeat;
    background-position:right center;
    background-size: cover;
    color: white;


}

section#carro3{
    background-image: url(../imagens/e39-9.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;


}

section#carro4{
    background-image: url(../imagens/e60-7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;


}

section#carro5{
    background-image: url(../imagens/F10-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;


}

section#carro6{
    background-image: url(../imagens/F90-14.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    margin-bottom: 20px;


}


